body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .navBar {
  height: 50px;
    width: 100%;
    padding: 0;
    position: fixed;
    background-color: #93e5e8;
    transition: #fff;
    display: flex;
    align-items: center;
    z-index: 100;
    font-size: 20px;
}
.searchbar{
  margin: 20px;
}
.buffer {
  height: 75px;
  width: 100%;
}
.formsubmit {
  align-items: center;
}
.foods,
.triggers {
  width: 45%;
  vertical-align: text-top;
  background-color: lightgrey;
  font-family: arial;
  margin-left: 30px;
  height: 80%;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block;
}
.form {
  width: 95%;
  margin-left: 20px;
}
.form-header{
  margin-left: 30px;
}
.chem-card-header{
  text-align: center;
}
.delete {
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  align-items: right;
} 
.footer {
  margin-top: 15px;
  height: 80px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
  background-color: rgb(221, 240, 235);
  font-size: larger;
}
.cards{
  /* margin: 0 auto; */
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 60px;
  gap : 10px

}
